// global styles
html{
    font-size: 10px;
}
body{
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    font-size: 1.6rem;
}
button{
    text-transform: uppercase;
}