header{
    background-color: var(--black);
    position: relative;
    z-index: 3;    
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }      
    .brand{
        color: var(--red);
        font-family: 'Arial Black', Times;
        font-size: 4.0rem;
    }
    .hamburger {
        padding-right: 20px;
        cursor: pointer;
        .line {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 7px;
            background-color: #fff;
        }
    }
    .nav__link {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      top: 75px;
      left: 0;
      background-color: var(--black);
      padding: 20px 30px;
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255,255,255,0);      
      a {
          display: block;
          padding: 10px 20px;
          text-align: center;
          color: #fff;
          text-decoration: none;
          min-width: 180px;
          &:hover {
            background-color: var(--red);
          }
      }
    }
    .hide {
        display: none;
    }    
}




@media (min-width: 576px) {
    header{
        nav{
            display: block;
            a{
                text-decoration: none;
                color: var(--gray);
                margin-right: 10px;
                font-size: 1.6rem;
                transition: all .2s ease-in-out;
                &:hover{
                    color: var(--white);
                }
            }
        }
    
    }
    
}
// 576px


@media (min-width: 992px) {
    header{    
        .nav__link {
            display: block;
            position: static;
            width: auto;
            background: none;
            padding: 0;
        }
        .nav__link a {
            display: inline-block;
            padding: 5px 10px;
            min-width: auto;
        }
        .hamburger {
            display: none;
        }
    }
}