header{
    background-color: var(--black);
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }      
    .brand{
        color: var(--red);
        font-family: 'Arial Black', Times;
        font-size: 4.0rem;
    }
    nav{
        display: none;
    }

}


@media (min-width: 576px) {
    header{
        nav{
            display: block;
            a{
                text-decoration: none;
                color: var(--gray);
                margin-right: 10px;
                font-size: 1.6rem;
                transition: all .2s ease-in-out;
                &:hover{
                    color: var(--white);
                }
            }
        }
    
    }
    
}
// 576px