header{
    background-color: var(--black);
    position: relative;
    z-index: 1;    
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }      
    .brand{
        color: var(--red);
        font-family: 'Arial Black', Times;
        font-size: 4.0rem;
    }
    // nav{
    //     display: none;
    // }

    .hamburger {
        padding-right: 20px;
        cursor: pointer;
        .line {
            display: block;
            width: 40px;
            height: 5px;
            margin-bottom: 5px;
            background-color: #fff;
        }
    }    
    
    .nav__link {
      position: fixed;
      width: 94%;
      top: 5rem;
      left: 18px;
      background-color: lightblue;
      a {
          display: block;
          text-align: center;
          padding: 10px 0;
          &:hover {
            background-color: lightcoral;
          }
      }
    }

}

  
.hide {
    display: none;
} 


@media (min-width: 576px) {
    header{
        nav{
            display: block;
            a{
                text-decoration: none;
                color: var(--gray);
                margin-right: 10px;
                font-size: 1.6rem;
                transition: all .2s ease-in-out;
                &:hover{
                    color: var(--white);
                }
            }
        }
    
    }
    
}
// 576px