.featured-film{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%), url('../../assets/images/house_of_cards_featured_image_mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .container{
        padding: 15px 20px;
        width: 70%;
    }
    h3{
        margin-top: 15%;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: $font-default;
        line-height: 4.6rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .wrap-buttons{
        margin-top: 30px;
    }
}


@media (min-width: 992px) {
    .featured-film{
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%), url('../../assets/images/house_of_cards_featured_image.jpg');
        background-position: right top;
        height: 70vh;
        .container{
            width: 40%;
        }
        .wrap-buttons{
            margin-top: 60px;
        }        
    }    
}
// 992px