.featured-film{
    font-size: 1.6rem;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../../assets/images/house_of_cards_featured_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .container{
        padding: 15px 20px;
        width: 60%;
    }
    h3{
        margin-top: 15%;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 10px;
    }
    .wrap-buttons{
        margin-top: 60px;
    }
}